<%= render @manufacturer %>

<div>
  <%= link_to "Edit this manufacturer", edit_admin_manufacturer_path(@manufacturer) %> |
  <%= link_to "Back to manufacturers", admin_manufacturers_path %> |  
  <%= link_to "Destroy this manufacturer", @manufacturer, method: :delete, data: {confirm: 'Are you sure?'} %>
</div>
