div[id="<%= dom_id product %>"]
  
  p
    - if product.profile_pic.attached?
      = image_tag product.profile_pic, style: 'height:150px;width:auto;', alt: ""
    - else 
      = image_tag "motorapa_drop_in.svg", style: 'height:150px;width:auto;', alt: ""
    

  p
    <strong>Manufacturer:</strong>
    = product.manufacturer.name

  p
    <strong>Model:</strong>
    = product.model
  

  p
    <strong>Model code:</strong>
    = product.model_code
  

  p
    <strong>Rrp:</strong>
    = product.rrp
  

  p
    <strong>Seat height mm:</strong>
    = product.seat_height_mm
  

  p
    <strong>Wheelbase mm:</strong>
    = product.wheelbase_mm
  

  p
    <strong>Length mm:</strong>
    = product.length_mm
  

  p
    <strong>Height mm:</strong>
    = product.height_mm
  

  p
    <strong>Width mm:</strong>
    = product.width_mm
  

  p
    <strong>Ground clearance mm:</strong>
    = product.ground_clearance_mm
  

  p
    <strong>Engine description:</strong>
    = product.engine_description
  

  p
    <strong>Displacement:</strong>
    = product.displacement
  

  p
    <strong>Max power ps:</strong>
    = product.max_power_ps
  

  p
    <strong>Max power rpm:</strong>
    = product.max_power_rpm
  

  p
    <strong>Max torque nm:</strong>
    = product.max_torque_nm
  

  p
    <strong>Max torque rpm:</strong>
    = product.max_torque_rpm
  

  p
    <strong>Cylinders:</strong>
    = product.cylinders
  

  p
    <strong>Cyl bore:</strong>
    = product.cyl_bore
  

  p
    <strong>Cyl stroke:</strong>
    = product.cyl_stroke
  

  p
    <strong>Cyl valves:</strong>
    = product.cyl_valves
  

  p
    <strong>Fuel:</strong>
    = product.fuel
  

  p
    <strong>Fuel capacity l:</strong>
    = product.fuel_capacity_l
  

  p
    <strong>Consumption lkm:</strong>
    = product.consumption_lkm
  

  p
    <strong>Range km:</strong>
    = product.range_km
  

  p
    <strong>Drive category:</strong>
    = product.drive_category
  

  p
    <strong>Transmission:</strong>
    = product.transmission
  

  p
    <strong>Clutch:</strong>
    = product.clutch
  

  p
    <strong>Gears:</strong>
    = product.gears
  

  p
    <strong>Tyre front:</strong>
    = product.tyre_front
  

  p
    <strong>Tyre rear:</strong>
    = product.tyre_rear
  

  p
    <strong>Tube:</strong>
    = product.tube
  

  p
    <strong>Tyre category:</strong>
    = product.tyre_category
  

  p
    <strong>Wheel front in:</strong>
    = product.wheel_front_in
  

  p
    <strong>Wheel rear in:</strong>
    = product.wheel_rear_in
  

  p
    <strong>Kerb weight kg:</strong>
    = product.kerb_weight_kg
  

  p
    <strong>Brake front desc:</strong>
    = product.brake_front_desc
  

  p
    <strong>Brake rear desc:</strong>
    = product.brake_rear_desc
  

  p
    <strong>Battery size:</strong>
    = product.battery_size
  

  p
    <strong>Additional features:</strong>
    = product.additional_features
  

  p
    <strong>Data:</strong>
    = product.data
  

