body {
  padding: 40px 5%;
  
  .spacer-1 {min-height: 1em;}
  
  .new_button {font-size: smaller;}
  .btn-action, a:link.btn-action, a:visited.btn-action {margin-top: 0; padding:0 5px; border: 0; }
  .link_right {float:right; margin-top:-1.5em;
    &.r20 {padding-right: 20%;}
    &.r40 {padding-right: 40%;}
    &.r50 {padding-right: 50%;}
    &.r80 {padding-right: 80%;}
  }
  .right {align-text: right;}
  
  .spec_row {
    .col-lg {border-bottom: 1px solid #DDD; padding-bottom: 0.5em;
      &.label {font-size: 0.75em; border-left: 1px solid #DDD;}
      &.measure {font-size: 0.8em; font-weight: 600;  }
    }
  }
  
  .table {
    &.spec_table {
      th {font-size: 0.75em;}
      td.measure {text-align:right; }
    }
  }
}